{% load staticfiles %}

/* ----------------------------------------------------------
TYPOGRAPHY
------------------------------------------------------------*/
body {
    color: #ffffff;
    font: 16px/24px "Calibri Normal", Arial, sans-serif;
}

h2 {
    font: 24px "Calibri Bold", Arial, sans-serif;
    text-transform: uppercase;
}
    .create-edit-container h2{
        margin-bottom: 48px;
    }
.add {
    font: 16px "Arial Bold", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
    .add:visited {
        color: #ffffff;
    }

p {
    margin-bottom: 24px;
}

#create1{
    margin-bottom: auto;
}

.email {
    color: #2830d9;
    text-decoration: none;
}
    .email:hover {
        color: #2a2b2e;
    }

li h2 {
    color: #2a2b2e;
}

.edit {
    color: #ff6d01;
    text-decoration: none;
}
    .edit:hover {
        color: #2a2b2e;
    }

.comicImagesContainer {
    color: #ff6d01
}

button,
input,
optgroup,
select,
textarea {
  color: #2a2b2e;
}


/* -----------------------------------------------------
GENERAL LAYOUT RULES
 -------------------------------------------------------*/
.container {
    width: 1200px;
    margin: 0 auto 0 auto;
}

.row {
    overflow: hidden;
}

.column-half {
    margin: 0 12px 24px 12px;
    width: 380px;
    float: left;
}

.lp-container {
    background: url(../images/lp-background.jpg);
    background-size: 100%;
    width: 100%;
    height: 500px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.create-edit-container {
    background: url(../images/ce-background.jpg);
    background-size: 100%;
    width: 100%;
    height: 500px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.center-container {
    margin: 0 auto 72px auto;
    padding-top: 72px;
    width: 500px;
    text-align: center;
}
    .create-edit-container .center-container{
        width: 500px;
        padding-top: 32px;
        margin-bottom:48px;
    }

.checkboxes form ul {
    list-style-type: none;
    margin-top: 48px;
}
    .checkboxes form ul li {
        display: inline;
        margin: 16px;
    }
        .checkboxes form ul li:nth-child(5):after {
            content: "";
            display: block;
        }



/* --------------------------------------------------------------
HEADER
---------------------------------------------------------------*/
header {
    background-color: #ff6d01;
    width: 100%;
    height: 72px;
    text-align: center;
}

.logo {
    margin: 20px 0 0 0;
}

.logo-container {
    width: 100%;
    height: 72px;
    text-align: center;
    position: absolute;
    top: 0
}

.add {
    float: right;
    margin: 10px 50px 0 0;
    z-index: 10;
    position: relative;
}
#collectionDropDown {
    float: left;
    margin: 10px auto 0 50px;
    position: relative;
    z-index: 10;
}

/* -------------------------------------------------------
FOOTER
---------------------------------------------------------*/
footer {
    background-color: #ff6d01;
    width: 100%;
    height: 216px;
}

.social {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 24px;
    margin-top: 24px;
}

    .social li {
        display: inline;
    }

.column-half h2 {
    margin-top: 48px;
    margin-bottom: 0;
}

.fgen {
    margin: 0 auto 0 auto
}

.column-half form {
    margin-top: 24px;
}
.adam {
    margin:48px auto 0 auto
}

.email {
    margin-top: 40px
}


/* -------------------------------------------------
BUTTONS
---------------------------------------------------*/
.btn-content {
    margin-top: 48px;
}

.lp-container .btn-content {
    margin-top: 72px;
}

.save {
    background-image: url(../images/button-save.jpg);
    margin-top: 48px;
    border: none;
    width: 145px;
    height: 36px;
}

.submit {
    background-image: url(../images/button-submit.jpg);
    border: none;
    width: 145px;
    height: 36px;
}

/* -------------------------------------------------
Fields
---------------------------------------------------*/

.comrequest {
    width: 200px;
    height: 36px;
}