{% load staticfiles %}

<!DOCTYPE html>

<head>
    <title>FUNNYPAGES</title>

    <link rel="stylesheet" type='text/css' href="{% static 'viewer/css/normalize.css' %}" />
    <link rel="stylesheet" type='text/css' href="{% static 'viewer/css/styles.css' %}" />
    <script src="{% static 'viewer/scripts/jquery.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#id_collections').change(function(){
                window.location=this.value;
            })
        })
    </script>
</head>

<body>

    <!-- HEADER -->
    <header>
        <!-- ADD A COLLECTION -->
        <a class="add" href={% url "viewer:create" %}><p><img src="{% static "viewer/images/addicon.png" %}" />ADD COLLECTION</p></a>

        <!-- View a Collection Dropdown -->
        <div id="collectionDropDown">
            {{ collectionselectform.as_p }}
        </div>
    </header>

    <!-- LOGO -->
    <div class="logo-container">
        <a href="{% url "viewer:landingpage" %}"><img class="logo" src="{% static 'viewer/images/Funnypages-logo.png' %}" alt="FUNNYPAGES" /></a>
    </div>


    {% block content %}{% endblock %}


    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class=column-half>
                    <h2>REQUEST A COMIC</h2>

                    <p class="fgen">Submit requests for new comics here.  Just enter the title of the series and click submit!</p>

                    <form action="{% url 'viewer:request_confirmation' %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="comrequest" id="newtitle" name="newtitle" placeholder="Series Title">

                        <input type="submit" value="" class="submit" name="comicrequest">
                    </form>
                </div> <!-- end column-half -->
                <div class=column-half>
                    <p class="adam">Adam Carr | Python Developer</p>
                    <p class="fgen">York, Pennsylvania</p>

                    <a class="email" href="mailto:carr.adam@gmail.com"><p>carr.adam@gmail.com</p></a>

                    <ul class="social">
                        <li><a href="http://www.linkedin.com/pub/adam-carr/a/925/978/"><img src="{%  static "viewer/images/LinkedIn.png" %}" /></a></li>
                        <li><a href="http://www.snaketrials.com"><img src="{%  static "viewer/images/wordpress.png" %}" /></a></li>
                        <li><a href="https://github.com/HamboneWilson"><img src="{%  static "viewer/images/git.png" %}" /></a></li>
                    </ul>
                </div> <!-- end column-half -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </footer>
</body>

</html>