{% extends '/home/adam/webapps/funnypages/funnypages/viewer/templates/viewer/base.html' %}
{% load staticfiles %}



    {% block content %}
    <!-- LANDING PAGE CONTENT -->
    <div class="lp-container">
        <div class="center-container">
            <h2>A NEW WAY TO VIEW YOUR WEBCOMICS</h2>

            <p>Funnypages offers an elegant way to manage all your favorite webcomics in one self updating page in 3 easy steps.</p>

            <!-- STEPS -->
            <p class="steps">CREATE A COLLECTION</p>
            <p class="steps">SELECT THE COMICS YOU WANT TO FOLLOW</p>
            <p class="steps">SAVE AND VIEW YOUR COLLECTION</p>

            <!-- GET STARTED BUTTON -->
            <div class="btn-content"><a href="create"><img src="{% static "viewer/images/button-get-started.jpg" %}" /></a></div>
        </div> <!-- end center-container -->
    </div> <!-- end lp-container -->
    {% endblock %}