{% load staticfiles %}

<DOCTYPE html>
<html>

<head>
    <title>FUNNYPAGES</title>

    <link rel="stylesheet" type=text/css href="{% static "viewer/css/normalize.css"%}" />
    <link rel="stylesheet" type=text/css href="{% static "viewer/css/styles.css" %}" />
</head>

<body>

    <!-- HEADER -->
    <header>
        <!-- ADD A COLLECTION -->
        <a class="add" href=""><p><img src="{% static "viewer/images/addicon.png" %}" />ADD COLLECTION</p></a>



        <form class="viewlist" action="" method="post">
            <!-- view a collection drop down menu 179x24 px-->
        </form>
    </header>

    <!-- LOGO -->
    <div class="logo-container">
        <img class="logo" src="{% static 'viewer/images/Funnypages-logo.png' %}" alt="FUNNYPAGES" />
    </div>



    <!-- LANDING PAGE CONTENT -->
    <div class="lp-container">
        <div class="center-container">
            <h2>A NEW WAY TO VIEW YOUR WEBCOMICS</h2>

            <p>Funnypages offers an elegant way to manage all your favorite webcomics in one self updating page in 3 easy steps.</p>

            <!-- STEPS -->
            <p class="steps">CREATE A COLLECTION</p>
            <p class="steps">SELECT THE COMICS YOU WANT TO FOLLOW</p>
            <p class="steps">SAVE AND VIEW YOUR COLLECTION</p>

            <!-- GET STARTED BUTTON -->
            <div class="btn-content"><a href=""><img src="{% static "viewer/images/button-get-started.jpg" %}" /></a></div>
        </div> <!-- end center-container -->
    </div> <!-- end lp-container -->



    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class=column-half>
                    <h2>REQUEST A COMIC</h2>

                    <p class="fgen">Submit requests for new comics here.  Just enter the title of the series and submit!</p>

                    <form action="" method="post">
                        <input type="text" id="newtitle" name="newtitle" placeholder="Series Title">

                        <input type="submit" value="" class="btn"> <!-- NOTE: NEED TO FIGURE OUT HOW TO NEST BUTTON IMAGE -->
                    </form>
                </div> <!-- end column-half -->
                <div class=column-half>
                    <p class="adam">Adam Carr | Python Developer</p>
                    <p class="fgen">York, Pennsylvania</p>

                    <a class="email" href="mailto:carr.adam@gmail.com"><p>carr.adam@gmail.com</p></a>

                    <ul class="social">
                        <li><a href=""><img src="{%  static "viewer/images/LinkedIn.png" %}" /></a></li>
                        <li><a href=""><img src="{%  static "viewer/images/wordpress.png" %}" /></a></li>
                        <li><a href=""><img src="{%  static "viewer/images/git.png" %}" /></a></li>
                    </ul>
                </div> <!-- end column-half -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </footer>
</body>

</html>
</DOCTYPE>