{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- SUBHEADER -->
<div class="subheader-container">
    <ul id="subheader">
        <li><h2>{{ collection.name }}</h2></li>
        <li><a class="edit" href="{% url 'viewer:edit' collection.id %}">Edit</a></li>
    </ul>
</div> <!-- end container -->
<hr class="hr-subheader" />



<!-- COMIC VIEW -->
<div class="comicImagesContainer">
    {% for image in image_set %}
        <ul class="comicImage">
            <li>{{ image.series }}</li>
            <li>{{ image.pub_date }}</li>
            <li><img src="https://s3.amazonaws.com/funnypages/comic_images/{{ image.name }}" /></li>
        </ul>
    {% endfor %}
</div><!-- end comicImagesContainer -->
{% endblock %}