{% extends '/home/adam/webapps/funnypages/funnypages/viewer/templates/viewer/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- SUBHEADER -->
<div class="container">
    <ul>
        <li><h2>{{ collection.name }}</h2></li>
        <li><a class="edit" href="{% url 'viewer:edit' collection.id %}">Edit</a></li>
    </ul>
</div> <!-- end container -->
<hr class="hr-subheader" />



<!-- COMIC VIEW -->
    <!-- NOTE: NEED TO FINISH DJANGO CODE AND SEE HOW TO HANDLE THIS -->
{% endblock %}